/*Calendar css */
html {
    font-size:100%;
}

.calendar{
    margin: 50px auto;
    /*font: 0.95em/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;*/
    display: table;
    position: relative;
    font: 0.95em/1.5 "Sans-serif", Tahoma, Arial Narrow, san-serif;
    
    
   }
   
.mainContainer {
    position: relative;
    text-align: center;
    display: block;
}

   
.header {
    cursor: default;
    background: #e1e1e1;
    height: 34px;
    position: relative; 
    color:#ffffff; 
    border-top-right-radius: 5px; 
    font-weight:bold;
    text-transform: uppercase;
    
}

.mainheader {
    /*text-transform: uppercase;*/
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
}

.month-year {
    color: black;
    display: inline-block;
    line-height: 34px;
    letter-spacing: 1px; 
    width: 100%; 
    text-align: center; 
    
}

.calendar table {
    border-collapse: collapse;
}

.calendar td {
    width:30px;
    height: 30px;
    text-align: center;
    cursor:default;
    border:1px solid #e6e6e6;
    
}
    
.calendar #days {
    background: #e1e1e1;
    text-transform: upper-case;
    font-size: 100%;
    line-height: 26px;
    height: 50px;
    color:#000000;
    width: 100%;
    display: table;
}



.monthframe, #template {
    margin:auto;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
    width: 50%
}

.month {
    width: 100%
}

/*.dayhighlight {
    background: red
}

.today {
    background:#e1e1e1; 
    color:#8c8c8c; 
    height: 
    box-shadow:1px 1px 0px #fff inset; 
    -moz-box-shadow:1px 1px 0px #fff inset; 
    -webkit-box-shadow:1px 1px 0px #fff inset; 
    height: 29px;
    
} */

.fa fa-check {
    width: 40px;
    height: 40px;
    
}

.daynumber {
    text-align:center
    
} 


.cell, .nill {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.aDay {
    background: #f3f3f3;
}

.nill {
    background: #f3f3f3;
}

.cell .actualDay {
    background: white;
}

.actualDay {
    background: white;
    }


#listTitle {
    margin: 10px;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: auto;
}

#description {
    border: none;
    font-size: 10px;
    font-style: italic;
}

#hideDescriptionButton{
    border: none;
    background-color: white;
    text-align: center;
}

#startDateText {
    display: inline-block;
}

#startDate {
    margin-bottom: 10px;
    display: inline-block;
}


.buttonContainer {
    clear: both;
}

/* FIX ME */

.note {
    max-width: 100px;
}
.note #note{
    background: #e1e1e1;
    border: none;
    width: auto;
    float: right;
    /*width: 100px;*/
    word-wrap: break-word;
    
}

