/*Calendar css */
body {
    font-size:100%;
}

#calendar{
    margin: 50px auto;
    font: 1em/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
    display:table;
   }
   
.header {
    cursor: default;
    background: #e1e1e1;
    height: 34px;
    position: relative; 
    color:#ffffff; 
    border-top-right-radius: 5px; 
    font-weight:bold;
    text-transform: uppercase;
}

#calendar .header #month-year {
    color: black;
    display: inline-block;
    line-height: 34px;
    letter-spacing: 1px; 
    width: 100%; 
    text-align: center; 
}

#calendar table {
    border-collapse: collapse;
}

#calendar td {
    width:30px;
    height: 30px;
    text-align: center;
    cursor:default;
}
    
#calendar #days {
    background: #e1e1e1;
    text-transform: upper-case;
    font-size: 90%;
    line-height: 26px;
    height: 26px;
    color:#000000;
}

